/* CSS for the Nav BAr */
.App {
  text-align: center;
}

nav {
  position: fixed;
  width: 100vw;
}

.Nav-Container {
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  background-color: #2A5C21;
  color:white;
  font-size: 3vmin;
  padding-top: 15px;
  padding-bottom: 15px;
}



.active {
  background-color: #4f2f1540;
  box-shadow: 5px 5px 5px 5px #4f2f155b;
}

#Nav1 {
  flex: 1 1 10vw;
  overflow: hidden;
  padding-right: 10rem;
  width: 100px !important;

  /* margin-left: 0.5em; */
}

.logo-image{
  width: 180px !important;
  height: 100px !important;
  overflow: hidden;
  margin-top: -6px;
}

#Nav1:hover{
  color:#9E724D;
}

#Nav3 {
  flex: 0 1 15vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid grey;
  padding:2px;
}

#Nav3 input {
  flex-grow: 1;
  background-color: #DEE1B7;
}

#Nav3 input:focus {
  outline-style: none;
}

#Nav3 * {
  height: 3vh;
  overflow: hidden;
  margin: 0;
  flex: auto;
  border: none;
}

#Nav3 button{
  background-color: #DEE1B7;
}

#Nav3 button:hover {
  background-color: #B1CA94;
}

#Nav4 {
  flex: 0 0 5vw;
  overflow: hidden;
  margin-right: 0.5em;
}

#Nav4 a {
  color: inherit;
  text-decoration: inherit;
}

#Nav4:hover {
  color: #9E724D;
}

.Page-Container {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex: 0 0 45vw;
}

.Nav-Page {
  display: flex;
  align-items: center;
  
}

.Nav-Page:hover{
  color: #9E724D;
}

.Nav-Page * {
  margin: 0px 0.5em;
}


.App-link {
  color: #61dafb;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.Nav-Page a {
  color: inherit;
  text-decoration: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DEE1B7;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.685);
  z-index: auto 1;
}

.dropdown-content *:hover{
  color: #9E724D;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content div {
  border-top: 3px solid #9E724D;
  overflow: hidden;
  width: 10vw;
}

.dropdown-content .first-dropdown {
  border-top: 0;
}

.dropdown-content div:hover {
  background-color: #B1CA94;
}

/* CSS for default current body  */
.App-header {
  background-color: #282c34;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}