/* CSS for the Nav BAr */
.App {
  text-align: center;
}

nav {
  position: fixed;
  width: 100vw;
  z-index:10;
}

nav * {
  box-sizing: content-box;
}

.Nav-Container {
  display: flex;
  height: 6vh;
  align-items: center;
  justify-content: space-between;
  background-color: #2A5C21;
  color:white;
  font-size: 3vmin;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.nav-title {
  position: relative;
  left: 12vw;
  font-weight: bold;
}

.active {
  background-color: #4f2f1540;
  box-shadow: 5px 5px 5px 5px #4f2f155b;
}

#Nav1 {
  flex: 0 1 25vw;
  display: flex;
  align-items: center;
  text-decoration: none;
}

#Nav1 a {
  text-decoration: inherit;
  color: inherit;
}

#Nav1 .active {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

.logo-image{
  position: absolute;
  top: 0px;
  height: 15vh;
  width: 12vw;
  margin-top: -0.7vh;
}

#Nav1:hover{
  color:#9E724D;
}

.Nav3 {
  flex: 0 0 15vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid grey;
  padding:2px;
}

.Nav3 form{
  height: 20px;
}

.Nav3 input {
  background-color: #DEE1B7;
}

.Nav3 input:focus {
  outline-style: none;
}

.Nav3 * {
  overflow: hidden;
  margin: 0;
  flex: auto;
  border: none;
}

.Nav3 button{
  background-color: #DEE1B7;
  flex: 0 1 5em;
}

.Nav3 button:hover {
  background-color: #B1CA94;
}

#Nav4 {
  flex: 0 0 5vw;
  overflow: hidden;
  margin-right: 0.5em;
}

#Nav4 a {
  color: inherit;
  text-decoration: inherit;
}

#Nav4:hover {
  color: #9E724D;
}

.Page-Container {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-bottom: 0;
  flex: 0 1 55vw;
}

.Nav-Page {
  display: flex;
  align-items: center;
}

.Nav-Page:hover{
  color: #9E724D;
}

.Nav-Page * {
  margin: 0px 0.5em;
}

.App-link {
  color: #61dafb;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.Nav-Page a {
  color: inherit;
  text-decoration: inherit;
}

.Nav-Page a:hover {
  color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DEE1B7;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.685);
  z-index: auto 1;
}

.dropdown-content *:hover{
  color: #9E724D;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content div {
  border-top: 3px solid #9E724D;
  overflow: hidden;
  width: 10vw;
}

.dropdown-content .first-dropdown {
  border-top: 0;
}

.dropdown-content div:hover {
  background-color: #B1CA94;
}

/* CSS for default current body  */

.App-header {
  background-color: #282c34;
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Carousel css*/

.slider {
  position: relative;
  bottom:-14vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.image {
  padding:0;
  width: 90vw;
  height: 85vh; 
  border-radius: 10px;
  
}
.leftArrow {
  position: absolute;
  top: 50%;
  left: 0vw;
  font-size: 3rem;
  color: #DEE1B7;
  z-index: 2;
  cursor: pointer;
  user-select: none;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 0vw;
  font-size: 3rem;
  color: #DEE1B7;
  z-index: 2;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1; 
  transition-duration: 1s;
  transform: scale(1.11);
  position: relative;
  bottom:7vh;
}

/* Dog Fact CSS */

.dog-fact{
  height: 300px;
  width: 100%;
  text-align: center;
  background-color: #4F2F15;
}

.dog-fact > h2 {
  position: relative;
  top: 125px;
}

/* Stars section - 3 Cards */

.stars-section {
  position:relative;
  width: auto;
  height: 1000px;
  background-color: #2a5c21;
}

/* card style */

.dog-star-section{
  background-color: #fefae0 ;
  padding-bottom: 100px;
}

.card {
  width: 20rem;
  height: 35rem;
  background-color: #B1CA94;
}

.card:hover{
  box-shadow: 10px 15px 25px 10px rgba(0, 0, 0, 0.253) !important;
}

.card-body{
  padding: 3rem 0 !important
}

.card-text{
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
  color: white !important
}

.container-fluid .row{
  padding-top: 6rem;
}

.card-img{
  height: 425px;
  padding: 10px;
}

/* Footer Styles*/

footer {
  background-color: #2a5c21;
  font-size: medium;
  text-align: center;
  padding: 20px 0;
  color: #ffff;
}

/* edit images on cards*/
.overflow{
  overflow:hidden
}
.card-img-top{
  transform: scale(1);
}

.card-img-top:hover{
  transform: scale(1.3);
}

 /* Parks Page */

#parks-container {
  position: relative;
  top: 4.5vh;
  display: grid;
  grid-template-columns: 39vw 59vw;
  grid-template-rows: 10vh 70vh 35vh;
  gap: 1vmin;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  #parks-container {
    grid-template-columns:100vw;
    top: 8vh;
  }
}

#park-display {
  background-color: green;
  grid-row-start: 2;
}

#search-box {
  place-self: center stretch;
  grid-column-start: 1;
  display: flex;
  justify-content: center;
}

#map-display {
  background-color: #4F2F15;
  grid-row-start: span 3;
  place-self: stretch;
}

#weather-display {
  background-color: #61dafb;
  place-self: center stretch;
}

/* Calendar */

.calendar-holder {
  height: 100vh;
  width: 60vw;
}

.rbc-toolbar button {
  font-size: inherit !important;
  background-color: #fefae0 !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #9E724D !important;
  border-color: #4F2F15 !important;
}

.rbc-toolbar button.rbc-active:focus {
  background-color: #9E724D !important;
  border-color: #4F2F15 !important;
}

.rbc-today {
  background-color: #2A5C21 !important;
}

.rbc-off-range-bg {
  background-color: #4F2F15 !important;
}

.rbc-show-more {
  background-color: #94bfca !important;
}