
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* CSS for the Nav BAr */
.App {
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
  z-index:10;
}

nav * {
  box-sizing: content-box;
}

.Nav-Container {
  display: flex;
  height: 6vh;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(111, 47%, 25%);
  color:hsl(255, 100%, 100%);
  font-size: 3vmin;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.nav-title {
  position: relative;
  left: 12vw;
  font-weight: bold;
}

.active {
  background-color: hsl(89, 59%, 30%);
  box-shadow: 5px 5px 5px 5px hsl(27, 58%, 0%);
}

#Nav1 {
  flex: 0 1 35vw;
  display: flex;
  align-items: center;
  text-decoration: none;
}

#Nav1 a {
  text-decoration: inherit;
  color: inherit;
  font-size: calc(5px + 4vmin);
}

#Nav1 .active {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

.logo-image{
  position: absolute;
  top: 0px;
  height: 15vh;
  width: 12vw;
  margin-top: -0.7vh;
}

#Nav1:hover{
  color:(27, 34%, 60%);;
}


#Nav3 {
  width: 15vw;
}

#Nav4 {
  flex: 0 0 5vw;
  overflow: hidden;
  margin-right: 0.5em;
}

#Nav4 a {
  color: inherit;
  text-decoration: inherit;
}

#Nav4:hover {
  color: hsl(27, 34%, 46%);
}

.Page-Container {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-bottom: 0;
  flex: 0 1 45vw;
}

.Nav-Page {
  display: flex;
  align-items: center;
}

.Nav-Page:hover{
  color: hsl(27, 34%, 60%);
}

.Nav-Page * {
margin-left: 7px;
margin-right: 7px;
}

.App-link {
  color: #61dafb;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.Nav-Page a {
  color: inherit;
  text-decoration: inherit;
}

.Nav-Page a:hover {
  color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DEE1B7;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.685);
  z-index: 1;
}

.dropdown-content *:hover{
  color: #9E724D;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content div {
  border-top: 3px solid #9E724D;
  overflow: hidden;
  width: 10vw;
  margin: 0;
}

.dropdown-content .first-dropdown {
  border-top: 0;
}

.dropdown-content div:hover {
  background-color: #B1CA94;
}

/* CSS for default current body  */

.App-header {
  color: hsl(111, 47%, 25%);
  background-color: hsl(89, 59%, 90%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* Carousel css*/

.slider {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  padding:0;
  width: 90vw;
  height: 90vh; 
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 2vw;
  font-size: 4rem;
  color: 	hsl(64, 41%, 100%);
  z-index: 2;
  cursor: pointer;
  user-select: none;
   ;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 2vw;
  font-size: 4rem;
  color: 	hsl(64, 41%, 100%);
  z-index: 2;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1; 
  transition-duration: 1s;
  transform: scale(1.112);
}

/* Dog Fact CSS */

.dog-fact{
  text-shadow: 6px 6px 0px rgba(91, 160, 106, 0.2);
  text-transform: capitalize;
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(36, 29%, 93%);
  z-index: 0;
  border: 3px solid hsl(27, 58%, 20%);
}

/* Stars section - 3 Cards */

.stars-section {
  position:relative;
  width: auto;
  height: 1000px;
  background-color: #2a5c21;
}

/* card style */

.dog-star-section{
  background-color:  hsl(89, 59%, 90%);
  padding-bottom: 100px;
}

.card {
  width: 20rem;
  height: 35rem;
  background-color: hsl(36, 29%, 93%) !important;
}

.card:hover{
  box-shadow: 10px 15px 25px 10px rgba(0, 0, 0, 0.253) !important;
}

.card-body{
  padding: 3rem 0 !important
}

.card-text{
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
  color: white !important
}

.container-fluid .row{
  padding-top: 6rem;
}

.card-img{
  height: 425px;
  padding: 10px;
}

/* Footer Styles*/

footer {
  background-color: #2a5c21;
  font-size: medium;
  text-align: center;
  padding: 20px 0;
  color: #ffff;
}

/* edit images on cards*/
.overflow{
  overflow:hidden
}
.card-img-top{
  transform: scale(1);
}

.card-img-top:hover{
  transform: scale(1.3);
}

 /* Parks Page */

#parks-container {
  display: grid;
  color: hsl(111, 47%, 25%);
  margin: 5vmin 0;
  grid-template-columns: 40vw 54vw;
  grid-template-rows: 7vh 60vh 20vh;
  gap: 5vmin;
  overflow: hidden; 
}

@media only screen and (max-width: 800px) {
  #parks-container {
    grid-template-columns:100vw;
  }
}

#park-display {
  background-color: hsl(36, 29%, 93%);
  grid-row-start: 2;
  font-weight: 600;
  border: 3px solid hsl(27, 58%, 20%);
}

#map-display {
  background-color: hsl(89, 59%, 90%);
  grid-row-start: span 3;
  place-self: stretch;
  border: 3px solid hsl(27, 58%, 20%);
}

#icon {
  font-size: x-large;
  text-shadow: black;
  display: flex;
  align-items: center;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#weather-display {
  display: flex;
  font-size: medium;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(180, 44%, 87%);
  place-self: center stretch;
  border: 3px solid hsl(27, 58%, 20%);
}

.weather-info {
  display: flex;
  flex-direction: column;
}

#condition {
  font-size: calc(3vmin + 10px);
  font-weight: 600;
}

/* Calendar */

.calendar-holder {
  margin: 5vmin 0;
  height: 100vh;
  width: 60vw;
  color: black;
}

.calendar-holder * {
  border-color: black !important;
}

@media only screen and (max-width: 800px) {
  .calendar-holder {width: 100vw;}
}

.rbc-toolbar button {
  font-size: inherit !important;
  background-color: hsl(52, 94%, 94%) !important;
}

.rbc-toolbar button:hover {
  background-color: hsl(27, 56%, 63%) !important;
}

.rbc-toolbar button.rbc-active {
  background-color: hsl(27, 34%, 46%) !important;
}

.rbc-toolbar button.rbc-active:focus {
  background-color: hsl(27, 34%, 46%) !important;
}

.rbc-today {
  background-color: hsl(111, 47%, 60%) !important;
}

.rbc-off-range-bg {
  background-color: hsl(27, 58%, 35%) !important;
}

.rbc-show-more {
  background-color: #94bfca !important;
}
  /* 
.rbc-day-bg rbc-today {
  background-color: hsl(120, 100%, 75%) !important
 ;
}
.rbc-row-bg{
 color: hsl(36, 29%, 93%) !important
} */

/* search bar */

.search-bar {
  flex: auto;
  display: flex;
  justify-content: center;
  border:1px solid hsl(0, 0%, 50%);
  padding:2px;
}

.search-bar form{
  height: 20px;
}

.search-bar input {
  background-color: hsl(64, 41%, 80%);
}

.search-bar input:focus {
  outline-style: none;
}

.search-bar > * {
  overflow: hidden;
  margin: 0;
  flex: auto;
  border: none;
}

.search-bar button{
  background-color: hsl(64, 41%, 80%)
  ;
  flex: 0 1 5em;
}

.search-bar button:hover {
  background-color: hsl(88, 34%, 69%);
}

.search-container {
  position: relative;
  width: 100%;
}

#search-box {
  place-self: center stretch;
  grid-column-start: 1;
  display: flex;
  justify-content: center;
}

.list {
  width: 100%;
  max-height: 25.8vh;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  display: block;
  color: black;
  font-size: 2vmin;
 }

 .box {
  border: black ridge 1px;
  background-color: #B1CA94;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 2px;
 }

 .MuiBox-root button {
  background-color: #9E724D;
  justify-self: center;
  width: 50%;
  margin: 0 auto;
 }

 /* AI */

 #ai-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 0.5em;
 }

#ai-container input {
  background-color: hsl(64, 41%, 80%);
  border: 2px solid hsl(111, 47%, 25%)
}

#ai-container input::file-selector-button {
  background-color: hsl(64, 41%, 80%);
  border:0 solid hsl(111, 47%, 25%);
  border-width: 0 2px 0 0;
}

#ai-container button {
  background-color: hsl(64, 41%, 80%);
}

#ai-image {
width: 50%;
height: 50%;
}

/* Data Table Styling*/

.data-table{
  width: 50% !important;
}